*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------top banner style start here---------------- */
.top-banner{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-primary);
}
.section-wrapper{
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.banner-content{
    max-width: 710px;
}
.banner-title{
    font-weight: 800;
    color: var(--text-primary);
    font-size: 5rem;
}
.banner-img-box img{
    max-width: 100%;
    object-fit: cover;
}
/* --------------------top banner style end here----------------- */

/* --------------------featured flowers style start here----------------- */
.featured-flower-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.card{
    width: 350px;
    min-height: 100%;
    border-radius: 300px 300px 0 0 / 300px 300px 0 0;
}
.card-1{
    background-color: rgba(167, 33, 98, 0.15);
}
.card-2{
    background-color: rgba(5, 151, 160, 0.15);
}
.card-3{
    background-color: rgba(71, 125, 17, 0.15);
}
.card img{
    width: 100%;
    height: auto;
    padding: 20px 40px 0px;
    object-fit: cover;
}
.flower-name{
    margin-top: 32px;
    font-weight: bold;
    font-size: 24px;
}
/* --------------------featured flowers style end here----------------- */

/* Responsive for small devices */
@media screen and (max-width: 575px) {
    .section-inner{
        padding: 50px 30px;
    }
    .top-banner{
        height: auto;
    }
    .section-wrapper,
    .featured-flower-card{
        flex-direction: column;
        gap: 50px;
    }
    .banner-content{
       width: 100%;
    }
    .banner-title{
        font-weight: 800;
        color: var(--text-primary);
        font-size: 2rem;
    }
    .btn{
        display: block;
        margin: 0 auto;
    }
    /* banner section responsive end here */
    .section-title{
        margin-top: 50px;
    }
    .card{
        width: 320px;
    }
    /* featured flower  section responsive end here */
    
}
/* Responsive for medium devices */
@media screen and (min-width: 575.99px) and (max-width: 768px){
    .section-inner{
        padding: 50px 30px;
    }
    .top-banner{
        height: auto;
    }
    .section-wrapper,
    .featured-flower-card{
        flex-direction: column;
        gap: 50px;
    }
    .banner-title{
        font-weight: 800;
        color: var(--text-primary);
        font-size: 2.1rem;
    }
    /* banner section responsive end here */
     .section-title{
        margin-top: 50px;
    }
    .card{
        width: 350px;
        min-height: 100%;
        border-radius: 300px 300px 0 0 / 300px 300px 0 0;
    }
    /* featured flower  section responsive end here */
}
/* Responsive for large devices */
@media screen and (min-width: 768.99px) and (max-width: 992px){
    .section-inner{
        padding: 50px 70px;
    }
    .top-banner{
        height: auto;
    }
    .section-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .banner-title{
        font-size: 2rem;
    }
    /* banner section responsive end here */
    
    .featured-flower-card{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .section-title{
        margin-top: 50px;
    }
    .card{
        width: 350px;
    }
    /* featured flower  section responsive end here */
}
@media screen and (min-width: 992.99px) and (max-width: 1400px){

    .section-inner{
        padding: 50px 70px;
    }
    .top-banner{
        height: auto;
    }
    .section-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .banner-title{
        font-size: 2rem;
    }
    /* banner section responsive end here */
    
    .featured-flower-card{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
    .section-title{
        margin-top: 50px;
    }
    .card{
        width: 280px;
        margin: 0 auto;
    }
    /* featured flower  section responsive end here */
}