*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------top banner style start here---------------- */
.top-banner{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-primary);
}
.section-wrapper{
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.banner-content{
    max-width: 710px;
}
.banner-title{
    font-weight: 800;
    color: var(--text-primary);
    font-size: 5rem;
}
.banner-img-box img{
    max-width: 100%;
    object-fit: cover;
}
/* --------------------top banner style end here----------------- */

/* --------------------featured flowers style start here----------------- */
.featured-flower-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.card{
    width: 350px;
    min-height: 100%;
    border-radius: 300px 300px 0 0 / 300px 300px 0 0;
}
.card-1{
    background-color: rgba(167, 33, 98, 0.15);
}
.card-2{
    background-color: rgba(5, 151, 160, 0.15);
}
.card-3{
    background-color: rgba(71, 125, 17, 0.15);
}
.card img{
    width: 100%;
    height: auto;
    padding: 20px 40px 0px;
    object-fit: cover;
}
.flower-name{
    margin-top: 32px;
    font-weight: bold;
    font-size: 24px;
}
/* --------------------featured flowers style end here----------------- */

/* --------------------featured support style start here----------------- */
.featured-support{
    background-color: var( --bg-light-gray);
    margin-top: 130px;
    padding: 75px 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.featured-items p{
    margin-top: 24px;
    font-size: 20px;
    color: var(--text-secondary);
}
/* --------------------featured support style end here----------------- */

/* --------------------discount banner style start here----------------- */
.discount-banner{
    width: 100%;
    background-color: var(--bg-primary);
}
.discount-content{
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.discount-title{
    max-width: 600px;
    text-align: center;
}
.discount-title h1{
    color: var(--text-primary);
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
}
.discount-title span{
    color: var(--bg-secondary);
}
/* --------------------discount banner style end here----------------- */
/* --------------------Social activates banner style start here----------------- */
.social-card-body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    gap: 10px;
}
.social-card{
    width: 300px;
    height: 395px;
    justify-self: center;
    align-self: center;
}
.social-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-self: center;
}
/* --------------------Social activates banner style end here----------------- */
/* --------------------news letter banner style start here----------------- */
.news-letter-content{
    width: 100%;
    min-height: 450px;
    background-image: url('../asset/rectangle9.png');
    background-size: cover;
    background-position: center center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news-title h1{
    color: var(--text-primary);
    font-size: 2.5rem;
    text-align: center;
    font-weight: 800;
}
.news-title p{
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--text-secondary);
    margin: 16px 0px 48px;
    text-align: center;
}
.news-email .email-data{
    width: 700px;
    height: 64px;
    border: none;
    outline: none;
    margin: 0 auto;
    font-size: 1.125rem;
    border-radius: 8px;
    padding: 9px 18px;
}
.news-email .email-data:focus{
    outline: 2px solid var(--bg-secondary);
    transition: outline .5s ease-in-out;
    border: none;
}
.news-email .email-data:focus::placeholder{
    opacity: 0;
    transition: opacity .3s ease-in;
}
.news-email .submit-btn{
    width: 150px;
    height: 64px;
    border: none;
    outline: none;
    margin: 0 auto;
    border-radius: 8px;
    padding: 9px 18px;
    background-color: var(--bg-secondary);
    color: #fff;
    font-size: 1.25rem;
}
.news-email .submit-btn:hover{
    background-color: #35af7c;
    transition: background-color .3s ease-in;
}
/* --------------------news letter banner style end here----------------- */











/* Responsive for small devices */
@media screen and (max-width: 575px) {
    .section-inner{
        padding: 50px 30px;
    }
    .section-description{
        padding: 0px 30px;
    }
    .top-banner{
        height: auto;
    }
    .section-wrapper,
    .featured-flower-card{
        flex-direction: column;
        gap: 50px;
    }
    .banner-content{
       width: 100%;
    }
    .banner-title{
        font-weight: 800;
        color: var(--text-primary);
        font-size: 2rem;
    }
    .btn{
        display: block;
        margin: 0 auto;
    }
    /* banner section responsive end here */
    .section-title{
        margin-top: 50px;
    }
    .card{
        width: 320px;
    }
    .featured-support{
        background-color: var( --bg-light-gray);
        margin-top: 50px;
        padding: 50px 30px;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
    /* featured flower  section responsive end here */
    .discount-content{
        min-height: auto;
        flex-direction: column;
    }
    .discount-title h1{
        margin-top: 50px;
        font-size: 2rem;
    }
    /* discount  section responsive end here*/
    .social-card-body{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }
    .social-card{
        width: calc(300px - 60px);
        height: 395px;
        justify-self: center;
        align-self: center;
    }
    /* social activities  section responsive end here*/
    .news-letter-content{
        min-height: 400px;
        background-image: url('/asset/rectangle9.png');
        background-size: cover;
        background-position: left center;
    }
    .news-title h1{
        font-size: 2rem;
    }
    .news-email{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .news-email .email-data{
        width: 280px;
        height: 50px;
        padding: 5px 10px;
    }
    .news-email .submit-btn{
        height: 50px;
    }
    /* news letter responsive completed here */
    
}
/* Responsive for medium devices */
@media screen and (min-width: 575.99px) and (max-width: 768px){
    .section-inner{
        padding: 50px 30px;
    }
    .section-description{
        padding: 0px 30px;
    }
    .top-banner{
        height: auto;
    }
    .section-wrapper,
    .featured-flower-card{
        flex-direction: column;
        gap: 50px;
    }
    .banner-title{
        font-weight: 800;
        color: var(--text-primary);
        font-size: 2.1rem;
    }
    /* banner section responsive end here */
     .section-title{
        margin-top: 50px;
    }
    .card{
        width: 350px;
        min-height: 100%;
        border-radius: 300px 300px 0 0 / 300px 300px 0 0;
    }
    .featured-support{
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 40px;
        gap: 40px;
    }
    /* featured flower  section responsive end here */
    .discount-content{
        min-height: 700px;
        gap: 10px;
    }
    .discount-title{
        max-width: 600px;
        text-align: center;
    }
    .discount-title h1{
        color: var(--text-primary);
        font-size: 2.5rem;
        text-align: center;
        font-weight: 800;
    }
    /* discount section responsive end here */
    .social-card-body{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .social-card{
        width: 300px;
        height: 395px;
    }
    /* social activities responsive end here */
    .news-letter-content{
        min-height: 450px;
        background-position: right center;
    }
    .news-title h1{
        font-size: 2rem;
    }
    .news-email{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .news-email .email-data{
        width: 450px;
        height: 50px;
        padding: 5px 10px;
    }
    .news-email .submit-btn{
        height: 50px;
    }
    /* news letter responsive completed here */
}
/* Responsive for large devices */
@media screen and (min-width: 768.99px) and (max-width: 992px){
    .section-inner{
        padding: 50px 70px;
    }
    .section-description{
        padding: 0px 30px;
    }
    .top-banner{
        height: auto;
    }
    .section-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .banner-title{
        font-size: 2rem;
    }
    /* banner section responsive end here */
    
    .featured-flower-card{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .section-title{
        margin-top: 50px;
    }
    .card{
        width: 350px;
    }
    .featured-support{
        flex-direction: row;
        justify-content: space-between;
        gap: 25px;
        padding: 15px 40px;
    }
    /* featured flower  section responsive end here */
    .social-card-body{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 10px;
    }
    /* social activities responsive end here */
      .news-letter-content{
        min-height: 450px;
        background-position: left center;
    }
    .news-title h1{
        font-size: 2rem;
    }
    .news-email{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .news-email .email-data{
        width: 620px;
        height: 50px;
        padding: 5px 10px;
    }
    .news-email .submit-btn{
        height: 50px;
    }
    /* news letter responsive completed here */
}
@media screen and (min-width: 992.99px) and (max-width: 1400px){

    .section-inner{
        padding: 50px 70px;
    }
    .section-description{
        padding: 0px 30px;
    }
    .top-banner{
        height: auto;
    }
    .section-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .banner-title{
        font-size: 2rem;
    }
    /* banner section responsive end here */
    
    .featured-flower-card{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
    .section-title{
        margin-top: 50px;
    }
    .card{
        width: 280px;
        margin: 0 auto;
    }
    .featured-support{
        flex-direction: row;
        justify-content: space-between;
        gap: 25px;
        padding: 15px 40px;
    }
    /* featured flower  section responsive end here */
    .social-card-body{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    .social-card{
        width: 200px;
        height: 300px;
    }
    /* social activities responsive end here */
      .news-letter-content{
        min-height: 450px;
        background-position: left center;
    }
    .news-title h1{
        font-size: 2.5rem;
    }
    .news-email{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .news-email .email-data{
        width: 620px;
        height: 50px;
        padding: 5px 10px;
    }
    .news-email .submit-btn{
        height: 50px;
    }
    /* news letter responsive completed here */
}